<!DOCTYPE html>
<html>
  <head>
    <title>{{me.preferredUsername}}</title>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="https://{{domain}}/feed" />
    <link rel="stylesheet" href="{{rootUrl}}/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div>
      <a class="blogLink" href="/">an ether+nick project</a>
    </div>
    <div id="wrapper">
      <h1>[at]ether+nick</h1>
      <p>
        Follow across the fediverse &gt;&gt; <input type="text" value="ethernick@at.ethernick.com" size="20" class="copyme"/><br>
      </p>
    <div id="main">
    <div id="content">
      {{{body}}}
      </div>
    </div>
    </div>
  </body>
</html>
